{% extends "base.html" %}
{% load static %}
{% block extra_css %}  
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block content %}
<div class="form-container"> 
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        {% if error %}
          <p style="color:red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Login</button>
    </form>
</div> 
{% endblock %}
