{% extends "base.html" %}
{% load static %}

{% block title %}
Product Detail
{% endblock  %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'product_detail.css' %}">
{% endblock %}


{% block content %}
<div class="contents">

    <img src="{{ product.image.url }}" alt="{{ product.name }}">

    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>

        <form action="{% url 'cart:add-to-cart' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Add To Cart</button>
        </form>
    </div>

</div>

{% endblock  %}